body {
    background-image: url("images/background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    color: rgb(7, 243, 157);
    margin-left: 20px;
    font-size: 50px;
    text-align: center;
  }

  h2 {
    color: rgb(7, 243, 157);
    font-size: 30px;
    text-align: right;
  }

  button {
    display: inline-block;
    background-color: rgb(7, 243, 157);
    color: black;
    border-color: rgb(7, 243, 157);
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
  }