body {
    background-image: url("indexcontent/background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    color: rgb(7, 243, 157);
    margin-left: 20px;
    font-size: 50px;
    text-align: center;
  }

  h2 {
    color: rgb(7, 243, 157);
    font-size: 30px;
    text-align: right;
  }

  button {
    display: inline-block;
    background-color: rgb(7, 243, 157);
    color: black;
    border-color: rgb(7, 243, 157);
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 320px;
    cursor: pointer;
  }

  .form-group {
    margin-top: 20px;
  }

  .form-label {
    display: block;
    font-size: 35px;
    font-weight: bold;
    color: rgb(7, 243, 157);
  }

  .form-input {
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }